<form method="get" action="">
    <input type="hidden" value="@ViewBag.Id" name="Id"/>
    <table>
        <tr>
            <td><p>Enter Name:</p></td>
            <td><input type="text" name="Name"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="GetByName"/></td>
        </tr>
    </table>
</form>
<body>
    <div>
    <table>
        <tr>
            <td>Id</td>
            <td>>Name</td>
            <td>DirectorPIB</td>
            <td>DeputyDirectorPIB</td>
            <td>DepartmentId</td>
        </tr>
        @foreach (var value in Model)
        {
            <tr>
              <td>@value.Id</td>
              <td>@value.Name</td>
              <td>@value.DirectorPIB</td>
              <td>@value.DeputyDirectorPIB</td>
              <td>@value.DepartmentId</td>
            </tr>
        }
    </table>
    </div>
</body>
s